<!DOCTYPE html>
<html>
<head>
  <title>Fitness Website</title>
  <link  href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/static/logo.png" alt="Fitness Logo">
    </div>
    <nav>
      <ul>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 Fitness Website. All Rights Reserved.</p>
  </footer>
</body>
</html>
